# Python Bytecode and Cache Files
#################################

# Ignore all bytecode cache directories (__pycache__/) at any depth
__pycache__/

# Ignore specific bytecode files
*.pyc

# Ignore Pytest cache directory
.pytest_cache/

# Ignore Virtual Environments
venv/
.venv/

# Ignore local environment variables (Security Requirement)
.env